<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>IoT Smartwatches</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/web_app/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" -->
    <!-- jquery-ui -->
    <link href="/static/web_app/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/web_app/css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/static/web_app/css/jquery-ui.theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/web_app/css/analysis.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/dashboard/">Big Brother</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="not-active"><a href="http://localhost:8000/dashboard/">Device Listing</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
{#            <li><a href="signIn.html">Logout</a></li>#}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Analysis & Reporting Dashboard</h1>
             {% for data in device_data|slice:":1" %}
                <p>Device ID: {{ data.device_id }}</p>
             {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Currently Connected</h3>
                  </div>
                  <div class="panel-body">
                    Yes/No
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Devices Currently Connected</h3>
                  </div>
                  <div class="panel-body">
                    Data
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Average Connection Length (minutes)</h3>
                  </div>
                  <div class="panel-body">
                    Data
                  </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="chart">
                </div>
            </div>
            <div class="col-md-4">
            	<h3 style="font-weight: bold;">Filter Graph</h3>
                <p>Start Date: <input type="text" id="startDate"></p> 
                <p>End Date: <input type="text" id="endDate"></p>
                <p>Sensor Type 
                  <select class="form-control">
                    <option>Accelerometer</option>
                    <option>Battery Life</option>
                  </select> 
                </p>
                <p>Analysis Type
                  <select class="form-control">
                    <option>Line Chart</option>
                  </select> 
                </p>
                <p>
                  <a id="generateGraph" class="btn btn-lg btn-primary" href="#" role="button">Filter Graph &raquo;</a>
                </p>
            </div>
        </div>
        
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/web_app/js/bootstrap.min.js"></script>
    <script src="/static/web_app/js/d3.min.js"></script>
    <script src="/static/web_app/js/jquery-ui.min.js"></script>
    <script src="/static/web_app/js/analysis.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- script src="../../assets/js/ie10-viewport-bug-workaround.js"></script -->
  </body>
</html>