{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>IoT Smartwatches</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "web_app/css/bootstrap.min.css" %}"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "web_app/css/dashboard.css" %}" />

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/dashboard/">Big Brother</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:8000/logout">Logout</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="splash-image">
        <div class="container">
          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h2>Analysis Dashboard</h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Total Number of Devices</h3>
                      </div>
                      <div class="panel-body">
                          <h4><b>{{ distinct_device_count }}</b></h4>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Devices Online</h3>
                      </div>
                      <div class="panel-body">
                        <h4><b>{{ online_device_count }}</b></h4>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Devices Offline</h3>
                      </div>
                      <div class="panel-body">
                        <h4><b>{{ offline_devices_count }}</b></h4>
                      </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Device Listing</h3>
              </div>
              <div class="panel-body">
                <p> Filter Listing </p>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                          <input type="radio" name="device_listing" value="all_devices" checked="checked"> All Devices<br>
                          <input type="radio" name="device_listing" value="online"> Devices Online<br>
                          <input type="radio" name="device_listing" value="offline"> Devices Offline
                        </form>
                    </div>
                </div>
              </div>
                <div id="all_devices">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Device ID</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for device in distinct_device_list %}
                          <tr>
                            <td><a href="http://localhost:8000/dashboard/{{ device.device_id}}">{{ device.device_id}}</a></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="online">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Device ID</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for device in online_device_list %}
                          <tr>
                            <td><a href="http://localhost:8000/dashboard/{{ device.device_id}}">{{ device.device_id}}</a></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="offline">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Device ID</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for device in offline_device_list %}
                          <tr>
                            <td><a href="http://localhost:8000/dashboard/{{ device.device_id}}">{{ device.device_id}}</a></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
          </div>

        </div> <!-- /container -->
    </div> <!-- /splash-image -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/web_app/js/bootstrap.min.js"></script>
    <script src="/static/web_app/js/d3.min.js"></script>
    <script src="/static/web_app/js/jquery-ui.min.js"></script>
    <script src="/static/web_app/js/dashboard.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- script src="../../assets/js/ie10-viewport-bug-workaround.js"></script -->
  </body>
</html>