{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Iauthview    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>IoT Smartwatches</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "web_app/css/bootstrap.min.css" %}"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "web_app/css/login.css" %}" />

  </head>

  <body>

    <div class="splash-image">
        <div class="splash-content">
            <div class="jumbotron">
                <div class="contents">
                {% block content %}
                    {% if form.errors %}
                        <p class="error">Not a valid user name or password</p>
                    {% endif %}
                    <form action="/dashboard" method="post">{% csrf_token %}
                        <div class="login-label">
                            <label for="username">User name:</label>
                        </div>
                        <div class="login-input-data">
                            <input type="text" name="username" value="" id="username"> <br>
                        </div>
                        <div class="login-label">
                            <label for="password">Password:</label>
                        </div>
                        <div class="login-input-data">
                            <input type="password" name="password" value="" id="password"><br>
                        </div>
                        <div class="login-input-button">
                            <input type="submit" value="login" />
                        </div>
                    </form>
                {% endblock %}
                    </div>
            </div>
        </div>
    </div>

  </body>
</html>