body {
  padding-top: 70px;
}

.form-control{
  width: 25%;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis path {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Lato;
  font-size: 18px;
}

.legend {
    font-size: 14px;
    font-weight: bold;
}
